# Imports
import numpy as np
from pynq import Overlay, allocate, PL

# Bitstream
PL.reset()
overlay = Overlay("./${module_name}.bit")

# DMA IP
dma = overlay.axi_dma_0
dma_send = dma.sendchannel
dma_recv = dma.recvchannel

# Buffers
x_discrete_values = allocate(shape=(2**${data_width},), dtype=np.uint16)
y_discrete_values = allocate(shape=(2**${data_width},), dtype=np.uint16)
x_discrete_values[:] = np.arange(2**${data_width}, dtype=np.uint16)

# AXI-Stream
dma_send.transfer(x_discrete_values)
dma_recv.transfer(y_discrete_values)
dma_send.wait()
dma_recv.wait()

# Save in CSV
data_to_save = np.column_stack((x_discrete_values, y_discrete_values))
np.savetxt("outputs_${module_name}.csv", data_to_save, delimiter=",", fmt='%d', comments='')
