# Folders
**/__pycache__/**
**/output/**
**/.Xil/**
**/.gen/**
**/.srcs/**
**/NA/**
**/local/**
**/apex_venv/**
**/.venv/**
**/.vscode/**

# Extensions
*.log
*.cf
*.o
*.exe
*.jou
*.zip

# Files
clockInfo.txt
dfx_runtime.txt